In [25]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [2]:
train_path=r"C:\Users\Ayush\Downloads\fraudTrain.csv"
test_path=r"C:\Users\Ayush\Downloads\fraudTest.csv"
df1=pd.read_csv(train_path)
df2=pd.read_csv(test_path)

In [3]:
df1.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
df2.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
df1.shape

(1296675, 23)

In [6]:
df2.shape

(555719, 23)

In [7]:
df=pd.concat([df1,df2])
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [8]:
df.shape

(1852394, 23)

In [9]:
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [10]:
df.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [11]:
remove_col=["Unnamed: 0","first","last","unix_time","street","gender","job","dob","city","state","trans_num","merchant","trans_date_trans_time"]
df=df.drop(columns=remove_col)
df

,cc_num,category,amt,zip,lat,long,city_pop,merch_lat,merch_long,is_fraud
0,2703186189652095,misc_net,4.97,28654,36.0788,-81.1781,3495,36.011293,-82.048315,0
1,630423337322,grocery_pos,107.23,99160,48.8878,-118.2105,149,49.159047,-118.186462,0
2,38859492057661,entertainment,220.11,83252,42.1808,-112.2620,4154,43.150704,-112.154481,0
3,3534093764340240,gas_transport,45.00,59632,46.2306,-112.1138,1939,47.034331,-112.561071,0
4,375534208663984,misc_pos,41.96,24433,38.4207,-79.4629,99,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...
555714,30560609640617,health_fitness,43.77,63453,40.4931,-91.8912,519,39.946837,-91.333331,0
555715,3556613125071656,kids_pets,111.84,77566,29.0393,-95.4401,28739,29.661049,-96.186633,0
555716,6011724471098086,kids_pets,86.88,99323,46.1966,-118.9017,3684,46.658340,-119.715054,0
555717,4079773899158,travel,7.99,83643,44.6255,-116.4493,129,44.470525,-117.080888,0
555718,4170689372027579,entertainment,38.13,73034,35.6665,-97.4798,116001,36.210097,-97.036372,0

In [12]:
df.head()

,cc_num,category,amt,zip,lat,long,city_pop,merch_lat,merch_long,is_fraud
0,2703186189652095,misc_net,4.97,28654,36.0788,-81.1781,3495,36.011293,-82.048315,0
1,630423337322,grocery_pos,107.23,99160,48.8878,-118.2105,149,49.159047,-118.186462,0
2,38859492057661,entertainment,220.11,83252,42.1808,-112.2620,4154,43.150704,-112.154481,0
3,3534093764340240,gas_transport,45.00,59632,46.2306,-112.1138,1939,47.034331,-112.561071,0
4,375534208663984,misc_pos,41.96,24433,38.4207,-79.4629,99,38.674999,-78.632459,0

In [13]:
encoder=LabelEncoder()
df["category"]=encoder.fit_transform(df["category"])
df["cc_num"]=encoder.fit_transform(df["cc_num"])

In [14]:
df.head()

,cc_num,category,amt,zip,lat,long,city_pop,merch_lat,merch_long,is_fraud
0,454,8,4.97,28654,36.0788,-81.1781,3495,36.011293,-82.048315,0
1,44,4,107.23,99160,48.8878,-118.2105,149,49.159047,-118.186462,0
2,241,0,220.11,83252,42.1808,-112.2620,4154,43.150704,-112.154481,0
3,519,2,45.00,59632,46.2306,-112.1138,1939,47.034331,-112.561071,0
4,377,9,41.96,24433,38.4207,-79.4629,99,38.674999,-78.632459,0

In [15]:
X=df.drop("is_fraud",axis=1)
y=df["is_fraud"]

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [17]:
sc=StandardScaler()
X=train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [18]:
X

array([[ 1.30713527, -0.57037309,  0.60246272, ..., -0.29240686,
         0.30344487, -1.72205365],
       [ 0.30449699,  1.21910512, -0.256872  , ..., -0.17816713,
        -0.6243474 , -2.11860888],
       [ 0.33593861, -1.08165258, -0.20036797, ..., -0.2928979 ,
         0.36902922, -1.49595598],
       ...,
       [ 0.40231536, -0.0590936 ,  0.3001319 , ..., -0.29287136,
        -0.72393035, -1.16386017],
       [-1.1557915 ,  1.47474486, -0.40177649, ..., -0.29343539,
         1.81708834, -0.52963361],
       [-0.92871315,  0.96346537,  0.44005257, ..., -0.29214143,
        -0.69648727,  0.53623191]])

In [26]:
model=DecisionTreeClassifier()

In [27]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [28]:
y_pred = model.predict(X_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [31]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

In [32]:
print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")

Accuracy: 0.9945044118560026
Confusion Matrix:
[[368443     83]
 [  1953      0]]